# Environment variables & secrets
.env
.env.*
*.env
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*
!.env.example
!*.env.example
!**/.env.example

# Dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/
build/
**/build/
.vite/
**/.vite/

# Logs & debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database & IDE
*.sqlite
*.sqlite-journal
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db


